body{
    font-family:'Open Sans', sans-serif;
    margin: 0;  
}
.top-banner{
width: 1600px;
height: 808px;
left: 1600px;
top: 808px;
}

.title-description{
    font-weight: 600;
    size: 60px;
    width: 500px;
    height: 225px;
    position:absolute;
    text-align: center;
    top: 215px;
    left: 840px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight:700 ;
    padding: 10px 20px;
    border-radius: 5px;
}
.mid-banner{
    display: flex;
    position: absolute;
width: 569px;
height: 723.3px;
left: 206px;
top: 939px;
}

.text-title{
position: absolute;
width: 416px;
height: 400px;
left: 862px;
top: 1178px;

}
.plan{
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 230px;
    top: 1792.3px;
}
.text{
    text-align: center;
    font-size: 40px; 
}
.container{
    display: flex;
}
.position{
width: 400px;
height: 197px;
left: 1157px;
top: 1889px; 
} 
.gradient{
    background-image: url("images/gradient2.png");
    width: 1140px;
    height: 300px;
    top: 2222px;
    left: 230px;
    
}

/* .contact{
display: flex;
gap: 100px;
background-color:#151414;
}
.contact .section-title{
    text-align: lef
     */