body{
    font-family:'Open Sans', sans-serif;
    margin: 0;  
}

/* Top-Banner */

.top-banner{
width: 1600px;
height: 800px;
left: 1598px;
top: 808px;
}
.title-description{
    font-weight: 600;
    size: 60px;
    width: 500px;
    height: 225px;
    position:absolute;
    text-align: center;
    top: 215px;
    left: 840px;
    color: #151414;
    
}

.font-details{
    font-weight: 600;
    font-size: 50px;
    color: #151414;
}

.font-size{
    color: #444343;
    font-weight: 400;
    font-size:16px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight:700 ;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Mid-Banner */

.mid-banner{
    display: flex;
    position: absolute;
width: 569px;
height: 723.3px;
gap: 60px;
left: 206px;
top: 939px;
}

.text-title{
position: absolute;
width: 416px;
height: 400px;
left: 862px;
top: 1178px;
}

/* Plan */

.plan{
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 230px;
    top: 1792.3px;
}
.text{
    text-align: center;
    font-size: 40px; 
}
.container{
    display: flex;
}
.position{
width: 400px;
height: 197px;
left: 1157px;
top: 1889px; 
} 

/* Gradien */

.gradient{
    background-image: linear-gradient(orange, tomato); 
    position: absolute;
    width: 1140px;
    height: 300px;
    top: 2222px;
    left: 230px;
    }
.positive{
width:30%;
height: 82px;
position:absolute;
text-align: center;
    }

    /* Footer */

.contact{
    position: absolute;
    width: 1600px;
    height: 577px;
    left: 0px;
    top: 646.3px;
}
.contact-media{
    position: absolute;
    width: 485px;
    height: 317px;
    left: 230px;
    top: 2106.3px;
}
.message{
    position: absolute;
    width: 325px;
    height: 204px;
    left: 1046px;
    top: 2106.3px;
}